@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes rotate_close {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}
.rotate {
    animation-name: rotate;
    animation-duration: 0.5s; 
}
.rotate_close {
    animation-name: rotate_close;
    animation-duration: 0.5s;
}

  
.style-switcher{
    position: fixed;
    right: 0;
    top: 10px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--skin-color);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
    
}
.style-switcher.open {
    transform: translateX(-25px);
}


.style-switcher .s-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--skin-color);
    right: 100%;
    border: 1px solid var(--skin-color);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}
.style-switcher .s-icon i {
    line-height: 40px;
}
.style-switcher .style-switcher-toggler {
    top: 0;
}
.style-switcher .day-night {
    top: 55px;
}
.style-switcher h4 {
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}
.style-switcher .color {
    background: #18ec34;
}
.style-switcher .color2 {
    background: #fa5b0f;
}
.style-switcher .color3 {
    background: #3f3997;
}
.style-switcher .color4 {
    background: #de2fe7;
}
.style-switcher .color5 {
    background: #ff0000;
}

.day-night i {
    transition: color 0.3s ease-in-out;
}